
nav {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% auto;
gap: 0.2em;
background-color: blue;
height: 3.4em;

}

.btn{
  /* width: 5em; */
  margin-top: 0.2em;
  max-height: 2em;
  text-decoration:  none;
  color: blue;
  background-color: aqua;
  text-align: center;
  padding: 0.5em;
  
}
.btn:hover{
  padding: 0.8em;
  background-color: rgb(141, 248, 248);
}
